* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.img{
    margin: 40 px;
    border-bottom: solid 10px white;
}

.container-cards{
    background-color: rgb(180, 196, 196);
}

.container-header{
    background-color: rgb(180, 196, 196);
}

.titulo {
        background-color: rgb(156, 155, 155);  

  }


.container_titulo {
    color: rgb(62, 61, 61);
    font-weight: bold;
    font-size: 150px;
    background-color: rgb(156, 155, 155);
    text-align: center;
    padding: 30px;
    border-bottom: 20px solid white;
  }
.colorFormulario{
    background-color: rgb(180, 196, 196);
    border: 20px solid rgb(180, 196, 196);
  }

  
.color--barranav {
    background-color: rgb(180, 196, 196);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 120px;
    border-radius: 50%;
    padding: 10 px;

  }


  
